<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="CONSOLE_LOGGER">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %msg%n"/>
        </Console>
        <File name="MAIN" fileName="logs/main.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="CLIENTS" fileName="logs/clients.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="PROTOCOL" fileName="logs/protocol.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="CLIENT-LOG" fileName="logs/client-log.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="MAIN"/>
        </Root>
        <Logger name="iecd.a51597.server.consoleLog" level="ALL" additivity="false">
            <AppenderRef ref="CONSOLE_LOGGER"/>
        </Logger>
        <Logger name="iecd.a51597.server.Server" level="ALL" additivity="false">
            <AppenderRef ref="MAIN"/>
        </Logger>
        <Logger name="iecd.a51597.server.network.ListenerThread" level="ALL" additivity="false">
            <AppenderRef ref="MAIN"/>
        </Logger>
        <Logger name="iecd.a51597.server.cli.CLIHandler" level="ALL" additivity="false">
            <AppenderRef ref="MAIN"/>
        </Logger>
        <Logger name="iecd.a51597.server.network.Connection" level="ALL" additivity="false">
            <AppenderRef ref="CLIENTS"/>
        </Logger>
        <Logger name="iecd.a51597.server.protocol" level="ALL">
            <AppenderRef ref="PROTOCOL"/>
        </Logger>
        <Logger name="iecd.a51597.server.persistence.PersistenceManager" level="ALL" additivity="false">
            <AppenderRef ref="MAIN"/>
        </Logger>
        <Logger name="iecd.a51597.client.cli.ClientCliHandler" level="ALL" additivity="false">
            <AppenderRef ref="CLIENT-LOG"/>
        </Logger>
    </Loggers>
</Configuration>