<?xml version="1.0" encoding="UTF-8"?>
<config>
    <defaultPort>5555</defaultPort>
<!--    <maxFrameSize>1048576</maxFrameSize>-->
<!--    <sessionTimeoutSeconds>1800</sessionTimeoutSeconds>-->
    <userStore>data/users.xml</userStore>
    <statusBoxWidth>42</statusBoxWidth>
    <protocolVersion>1.0</protocolVersion>
    <persistenceType>xml</persistenceType>
</config>